@keyframes attentionGrabbing {
    0% {
        background-color: rgba(128, 0, 0, 0.5); /* dark red */
        border-color: rgba(192, 0, 0, 1); /* dark red border */
    }
    50% {
        background-color: rgba(255, 0, 0, 0.5); /* red */
        border-color: rgba(255, 0, 0, 1); /* red border */
    }
    100% {
        background-color: rgba(128, 0, 0, 0.5); /* dark red */
        border-color: rgba(192, 0, 0, 1); /* dark red border */
    }
}

.text-fade-in-slide {
    animation: fadeInSlide 0.6s ease-in-out;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeDownSlide {
    0% {
        opacity: 0;
        transform: translateY(10px);
        scale: 0.95;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}

p {
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-bottom: 1.5em;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('/static/fonts/gotham-black.woff');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('/static/fonts/gotham-book.woff');
}
  
.attention-grabbing {
    animation: attentionGrabbing 4s infinite ease-in-out;
}

body {
    /* font-family: 'Arial', sans-serif; */
    font-family: 'Gotham Book', 'Open Sans', sans-serif;
    background-color: #0d0d0d;  /* Deeper black background */
    color: #c0c0c0;  /* Softer white text */
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Gotham Black', 'Open Sans', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Hide scrollbar for Firefox */
body {
    scrollbar-width: none;
}

/* Hide scrollbar for IE 10+ */
body {
    -ms-overflow-style: none;
}

.container {
    max-width: 1350px;
    margin: auto;
    padding: 0px 20px;
}

.header {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items between */
    align-items: center; /* Align items vertically */
    margin: 0.5rem 0rem 2rem 0rem;
    border-bottom: 2px solid #a9b1ba;
}

.logo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px 0px;
}

.header-logo {
    height: auto;
    padding: 0px 0px;
    margin-right: 1rem;
}

.logo-link {
    height: 100%;
    text-decoration: none; /* Remove underline */
    display: flex;
    align-items: center;
    padding: 0px;
}

.header h1 {
    margin: 1rem 0.5rem;
    color: #a9b1ba;  /* White text for important info */
}

.important-metrics {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Changed to space-between to evenly distribute space */
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5rem;
    border: 2px solid #2a2a2a;
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
}

.important-metrics-card {
    backdrop-filter: blur(10px);
    background: rgba(71, 89, 126, 0.2);
    border-radius: 10px;
    margin: 10px; /* Adjusted margin for uniform spacing */
    border: 2px solid #a9b1ba;
    padding: 20px 0px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    flex: 1 0 auto; /* flex-grow, flex-shrink, flex-basis */
    min-width: 0; /* Ensure cards can shrink below content size if needed */
    box-sizing: border-box; /* Include padding and border in the width and height */
}

.important-metrics-left,
.important-metrics-right {
    display: flex;
    justify-content: center; /* Center the cards within these containers */
    flex: 1; /* Allow these containers to take up half the space each */
    min-width: 0; /* Ensure they can shrink below content size if needed */
}

.important-metrics-divider {
    flex: 0 0 2px; /* Do not grow or shrink, set the basis to 2px */
    background-color: #2a2a2a;
    align-self: stretch; /* Stretch to the full height */
    margin: 0 20px; /* Add margin on both sides */
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.current-data {
    min-height: 530px;
}

.card, .chart-card {
    backdrop-filter: blur(10px);
    background: rgba(28, 30, 35, 0.95);  /* Darker card background */
    border: 2px solid rgba(48, 50, 55, 0.6);  /* Subtle border */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.card p {
    font-family: 'Gotham Black', 'Open Sans', sans-serif;
    color: #ffffff;  /* White text for important info */
    font-size: 2.2em;
    margin: .1em;
}

.card h3 {
    font-family: 'Gotham Book', 'Open Sans', sans-serif;
    color: #a9b1ba; /* Soft grey */
    margin: .1em;
}

.chart-card {
    animation: fadeDownSlide 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;  /* Added for spacing between charts */
    min-height: 470px;
}

.chart-card > div {
    flex-grow: 1;
    box-sizing: border-box;
    /* height: 600px; */
}

.charts {
    margin-top: 3rem;
}

.important-label {
    text-align: center;
    font-size: 1em;
    margin-bottom: 0em;
    color: #ffffff !important;  /* White text */
}

.important-value {
    text-align: center;
    margin: 0em;
    font-family: 'Gotham Black', 'Open Sans', sans-serif;
    font-size: 2em;
    color: #ffffff !important;  /* Bright accent color */
    white-space: nowrap;  /* Keep text on one line */
    overflow: hidden;  /* Hide overflow */
    text-overflow: ellipsis;  /* Add ellipsis for overflow */
    z-index: 3 !important;
}

.data-age-box {
    position: absolute;
    color: #cecece;
    z-index: 10 !important; /* Example value, ensure it is less than the .modal z-index */
    top: 8px;
    right: 8px;
    background-color: rgba(36, 77, 116, 0.089); /* semi-transparent background */
    padding: 2px 10px;
    border-radius: 5px;
    z-index: 1000; /* make sure it's on top of other elements */
}

#infoButton {
    cursor: pointer;
}

/* Dark overlay with blur effect */
.modal {
    display: none;
    position: fixed;
    z-index: 1000 !important; /* Ensure this is higher than any other z-index values on the page */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.5); /* Dark background with opacity */
    
    /* Blur effect */
    -webkit-backdrop-filter: blur(6px); /* For Safari */
    backdrop-filter: blur(6px); /* Standard syntax */
}

.modal-content {
    position: relative;
    background-color: rgba(17, 17, 17, 0.97); /* Dark mode for modal content */
    color: white; /* Light text */
    margin: 2% auto 0px; /* Center the modal */
    padding: 0px 20px;
    border: 2px solid #aaa;
    max-width: 800px; /* Adjust width as necessary */
    height: 93%;
    overflow-y: auto; /* Make content scrollable if it overflows vertically */
    border-radius: 8px;

    /* Hide scrollbar for WebKit browsers */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
}

.modal-header {
    position: sticky;
    top: 0;
    background: transparent;
    width: 100%;
    height: 0px;
    text-align: right;
}

/* Blur effect for the background when the modal is active */
.modal.active {
    backdrop-filter: blur(10px); /* Adjust the pixel value for the desired blur amount */
}

.close-button {
    position: absolute;
    top: 8px;
    right: 0px;
    color: #aaa;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.api-schema pre {
    font-size: 0.8rem;
    max-width: 40rem;
    margin-left: 1rem;
    background-color: #232323; /* Dark background for code block */
    color: #8ec07c; /* Soft green for text */
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.api-schema code {
    font-family: 'Courier New', monospace; /* Use a monospaced font */
}

.dino-image {
    position: absolute;
    bottom: 0; /* Align the bottom edge of the image with the bottom edge of the card */
    left: 50%; /* Center the image horizontally relative to the card */
    transform: translateX(-50%) scale(0.5); /* Adjust the horizontal position to truly center the image */
    max-width: 100%; /* Ensure the image doesn't overflow the card */
    height: auto; /* Maintain the aspect ratio of the image */
}

.wind-direction-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjust as needed for your layout */
}

.wind-direction-content p {
    margin-right: 10px; /* Add some space between the text and the icon */
}

.compass-icon {
    height: 100%; /* Adjust the height as needed to fill the card */
    /* width will be auto since it's an img and will maintain aspect ratio */
}

.signature a {
    color: #00B7C3; /* Cyan color */
    text-decoration: none; /* No underline by default */
}

.signature a:hover {
    text-decoration: underline; /* Underline on hover */
}
:root {
    --color-greyish: rgba(255, 255, 255, 0.7);
    --color-cyan: rgba(0, 247, 255, 0.7);
}

.charts-loader {
    position: relative;
    text-align: center;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: var(--color-greyish);
    box-shadow: 30px 0 0 var(--color-cyan);
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: var(--color-cyan);
    box-shadow: 30px 0 0 var(--color-greyish);
}

@keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8); }
    50% { transform: rotate(360deg) scale(1.2); }
    100% { transform: rotate(720deg) scale(0.8); }
}

@keyframes ball1 {
    0% {
        box-shadow: 35px 0 0 var(--color-cyan);
    }
    50% {
        box-shadow: 0 0 0 var(--color-cyan);
        margin-bottom: 0;
        transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 35px 0 0 var(--color-cyan);
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 var(--color-greyish);
    }
    50% {
        box-shadow: 0 0 0 var(--color-greyish);
        margin-top: -20px;
        transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 var(--color-greyish);
        margin-top: 0;
    }
}

  
/* Mobile specific styles */
@media (max-width: 1280px) {

    .header h1 {
        font-size: 1.6em;
    }

    .header {
        margin-bottom: 10px;
        border-bottom: 2px solid #a9b1ba; /* Slate blue border */
    }

    .header-logo {
        margin-right: 0rem;
    }

    .container {
        padding: 0px 10px;
    }

    .important-metrics {
        display: grid; /* Use grid layout for mobile */
        grid-template-columns: repeat(2, 1fr); /* Two columns, each taking up half of the width */
        grid-gap: 10px; /* Space between grid items */
        align-items: stretch; /* Stretch items vertically */
        font-size: 1em; /* Adjust font size for smaller screens */
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .important-metrics-left,
    .important-metrics-right {
        /* Keep flex: 1 to maintain equal height */
        flex-direction: column; /* Stack cards vertically within each section on mobile */
        justify-content: flex-start; /* Align items to the start */
        align-items: stretch; /* Stretch cards to fit the container width */
        margin: 5px 0; /* Adjust margin for mobile layout */
    }

    .important-metrics-card {
        margin: 5px 0px; /* Remove margin for grid layout */
        padding: 10px 0px; /* Adjust padding inside each card */
        height: auto; /* Allow height to be determined by content */
        flex: none; /* Disable flexbox properties */
    }

    .important-metrics-divider {
        display: none; /* Hide the divider on mobile */
    }

    .important-label {
        margin: 0; /* Explicitly set margin to zero */
        padding: 0; /* Explicitly set padding to zero */
        line-height: 1.2; /* Adjust line height */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
        font-size: 1em; /* Smaller base size plus more aggressive scaling */
    }

    .important-value {
        margin: 0; /* Explicitly set margin to zero */
        padding: 0; /* Explicitly set padding to zero */
        line-height: 1.2; /* Adjust line height */
        box-sizing: border-box; /* Include padding and border in element's total width and height */
        font-size: 2em; /* Smaller base size plus more aggressive scaling */
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card, .chart-card {
        padding: 10px;
    }

    .card p {
        font-size: 1.5em;
    }

    .card h3 {
        font-size: 1.2em;
    }

    .charts {
        margin-top: 2rem;
    }

    .data-age-box {
        top: 5px;
        right: 5px;
        padding: 3px 10px;
    }
}