<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LETU Civil Weather Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body class="bg-dark text-white">
    <div class="container">
        <div class="data-age-box">
            <span id="data-age">Data Age: </span>
        </div>
        <div class="header text-center mb-5">
            <h1>LeTourneau Civil Engineering Weather Station</h1>
        </div>

        <div class="important-metrics">
            <!-- Important metrics like temperature and humidity will be inserted here -->
        </div>

        <div class="grid" id="current-data">
            <!-- Current data cards will be inserted here -->
        </div>

        <div class="charts">
            <div id="charts-container" class="charts-container">
                <!-- Spinner -->
                <div class="loader-wrapper">
                    <div class="loader"></div>
                </div>
                <!-- Container for dynamic charts -->
            </div>
        </div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>
